- name: generate .gitconfig_user
  ansible.builtin.template:
    src: gitconfig_user
    dest: ~/.gitconfig_user
    mode: 0644
    backup: yes

- name: link .gitconfig
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/gitconfig"
    dest: ~/.gitconfig
    state: link
