- name: install ZSH shell
  become: yes
  ansible.builtin.package:
    name: zsh
    state: latest

- name: get ZSH binary path
  ansible.builtin.shell: which zsh
  changed_when: false
  register: which_zsh

- name: set ZSH as default shell
  become: yes
  ansible.builtin.user:
    name: "{{ lookup('env', 'USER') }}"
    shell: "{{ which_zsh.stdout }}"

- name: install prezto
  ansible.builtin.file:
    src: "{{ playbook_dir }}/submodules/prezto"
    dest: ~/.zprezto
    state: link

- name: install prezto
  ansible.builtin.file:
    src: "{{ playbook_dir }}/submodules/prezto/runcoms/{{ item }}"
    dest: ~/.{{ item }}
    state: link
  loop:
    - zlogin
    - zlogout
    - zpreztorc
    - zprofile
    - zshenv
    - zshrc

- name: install space-invaders
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/space-invaders.sh"
    dest: ~/.local/bin/space-invaders
    state: link

- name: install zsh_welcome
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/zsh_welcome.sh"
    dest: ~/.zsh_welcome
    state: link

- name: install starship
  become: yes
  ansible.builtin.package:
    name: starship
    state: latest

- name: configure starship
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/starship.toml"
    dest: ~/.config/starship.toml
    state: link

- name: link files
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/{{ item }}"
    dest: ~/.{{ item }}
    state: link
  loop:
    - zshrc-dotfiles
    - zprofile-dotfiles

- name: install lsd
  become: yes
  ansible.builtin.package:
    name: lsd
    state: latest

- name: create lsd config directory
  ansible.builtin.file:
    dest: ~/.config/lsd
    state: directory

- name: configure lsd
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/lsd_config.yml"
    dest: ~/.config/lsd/config.yaml
    state: link

- name: install bat
  become: yes
  ansible.builtin.package:
    name: bat
    state: latest

- name: install atuin
  become: yes
  ansible.builtin.package:
    name: atuin
    state: latest

- name: install atuin config
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/atuin-config.toml"
    dest: ~/.config/atuin/config.toml
    state: link
    force: true
