[Unit]
Description=My HTTPS Proxy Service
After=network.target

[Service]
Environment=AUTOSSH_GATETIME=0
Environment=AUTOSSH_POLL=30
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 10" -o "ServerAliveCountMax 3" -N -L {{ lookup('env', 'PROXY_HTTPS_PORT') }}:localhost:{{ lookup('env', 'PROXY_HTTPS_PORT') }} -p {{ lookup('env', 'PROXY_SSH_PORT') }} -i {{ lookup('env', 'PROXY_SSH_KEY') }} {{ lookup('env', 'PROXY_SSH_HOST') }}

[Install]
WantedBy=default.target